*{
    margin:0;
    padding:0;
}


/* Styling av navbar*/

nav{
    background-color:#4D7F80;
    }

.navbar-brand{
    margin-right:100px;
    margin-left:10px;
}

.navbar-brand:hover{
    opacity:0.6;
    color: white;
}

.nav-link{
    color: white;
    text-align:right;
    margin-left:15px;
    margin-top:8px;
}

.nav-link:hover{
    opacity:0.6;
    color: white;
}


/*Styling av overskrifter*/

h1{
font-family: museo-sans, sans-serif;
font-weight: 100;
font-style: normal;
color:#4D7F80;
}

h4{
font-family: museo-sans, sans-serif;
font-weight: 500;
font-style: normal;
}

h3{
font-family: museo-sans, sans-serif;
font-weight: 300;
font-style: normal;
color:white;
}


/*Styling av carousel*/

 .carousel-inner img{
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.carousel-caption{
    color:white;
    background-color:#4D7F80;
    opacity: 0.9;
    padding:5px;
    }

.carousel-caption a:link{
  color: white;
}

.carousel-caption a:visited{
  color: white;
}


/*Styling av tekstkolonner på index-siden*/

.index-text{
    color:#595959;
    padding-top:40px;
    }

.index-text h4{
    color:#4D7F80;
}


/*Styling av side med symønstre*/
.symonstre{
    padding-top:150px;
    color:#595959;
    text-align:center;
    }

.card:hover{
    border-color:#4D7F80;
    }

.card{
    padding:20px;
    margin:20px;
    border-style:dashed;
    border-width:medium;
    border-radius:0;
    text-align:left;
    }
    
.card-title{
    color:#4D7F80;
    }


/*Styling av modal*/
.modal-content{
    border-radius:0;}

.modal-header{
    color:#4D7F80;}

.modal-body{
    color:#595959;
    padding:50px;
    }

.btn{
    background-color:#4D7F80;
    border-radius: 0;
    border-color:white;
    }

.btn:hover{
    background-color: darkcyan;
    border-color:white;
    }


/*Styling av image gallery*/
.image-gallery{
    padding-top: 150px;
    text-align:center;
    color:#595959;
    }

.caption{
    color:#595959;
    padding-top:10px;
    padding-bottom:10px;
    }

.thumbnail{
    padding-top:20px;
}

.thumbnail:hover{
    opacity:0.8;
    }


/*Styling av infografikk-siden*/
    
.infografikk{
    padding-top:150px;
    color:#595959;
    text-align:center;
    }

.infografikk img{
    padding-top:20px;
    padding-bottom:30px;
}

.infografikk a:hover{
    opacity:0.8;
}

/*Styling av footer-tekst*/

.contact{
    color:#4D7F80;; 
    padding: 3%;
    text-align:center;
    }


/* Styling av SoMe-ikoner + hjerte - opprinnelig styling-kode til selve symbolene hentet fra: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp*/

.fa{
  padding:10px;
  font-size: 40px;
  text-align: center;
  margin: 7px 7px;
  color: #4D7F80;
  }


.fa:hover{
    background-color: #4D7F80;
    color:white;
    }

.fa-heart{
  padding:0;
  font-size:20px;
  color: #4D7F80;
  }
  